
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Open+Sans:wght@300;400;600&display=swap');


$openSans: 'Open Sans', sans-serif;
$numberSans: 'DM Sans', sans-serif;

// Basic colors

$black: #000000;
$grayL: rgba(0, 0, 0, 0.5);
$grayM: #666666;;
$blue: #00C0EE;

$resolSm: 1265px;
$resolBg: 2130px;

$resolXl: 1500px;


$padding: 10%;
$paddingSm: 3.5%;

// images

$logo: url('./../../img/logo-m3.png');
$shopLogo: url('./../../img/shop-logo.svg');

@mixin square($size){
    width: $size;
    height: $size;
    border: 1px solid $grayL;
    box-sizing: border-box;
    &:hover{
        cursor: pointer;
    }
    
}

@mixin select($size){
    appearance: none;
    border: 1px solid $grayL;
    display: grid;
    place-content: center;
    &::before{
        content: "";
        width: $size;
        height: $size;
        transform: scale(0);
        transition: 50ms transform ease-in-out;
        background-color: $blue;
        background-position: center;
        justify-content: center;
    }

    &:checked::before{
        transform: scale(1);
    }
}

@mixin breakpoint($point) {
    @if $point == md {
        @media (max-width: $resolSm) {
            @content;
        }
    }
    @if $point == bg {
        @media (min-width: $resolBg) {
            @content;
        }
    }
    @if $point == sm {
        @media (max-width: $resolXl) {
            @content;
        }
    }
}

@mixin circle($width, $color) {
    width: $width;
    height: $width;
    background: $color;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
  }
  
  .circle {
    @include circle(200px, #999);
  }